body{
    /* background: url("../../img/loginbackage.jpg") no-repeat 100% center; */
    background:linear-gradient(45deg,#84fab0,#8fd3f4);
}
@keyframes shows {
    from{
        opacity:0;
        margin:18% auto;
    }
    to{
        opacity: 1;
        margin:20% auto;
    }
}

html,body{
    width:100%;
    height:100%;
    overflow-y:hidden;
}
form {
    height: 30%;
    width: 50%;
    margin:20% auto;
    box-shadow: 0 0px 15px rgba(0,0,0,.175);
    padding:50px;
    border-radius: 15px;
    animation: shows 1s;
    background:#FFF;
}

label{
    font-weight:700 !important;
}
.error{
    border:1px solid red;
}
