<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发送消息</title>
    <link type="text/css" th:href="@{static/css/bootstrap/bootstrap.css}">
    <link type="text/css" th:href="@{static/plugins/select2/css/select2.css}">
</head>
<body>
<input id="sendDiv" type="hidden" th:value="${user.userName}"/>
<label>接收人:</label>
<select class="form-control select2 select">
    <option></option>
    <option value="张三">张三</option>
    <option value="李四">李四</option>
</select>
<label>消息内容:</label>
<div id="userDiv2" contenteditable="true" class="messageValue form-control"></div>
</body>
<script type="text/javascript" th:src="@{static/plugins/select2/js/select2.js}"></script>
<script type="text/javascript">
    $.fn.select2.defaults.set("theme", "bootstrap");
</script>
</html>